*{  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat-list{
  width: 100%;
  min-height: 100vh;
  background-color: beige;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 100px;
  list-style: none;
} 

.chat-field{
  border: none;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  border-top: solid #333 1px;
} 

li.message{
  width: 100%;
  margin: 20px 0;
}

.message-bubble{
  width: 70%;
  padding: 10px;
  max-width: 300px;
  border-radius: 10px;
}

.message-bubble.mine{
  margin-left: auto;
  margin-right: 10px;
  background-color: cadetblue;
}

.message-bubble.yours{
  margin-left: 10px;
  margin-right: auto;
  background-color: chartreuse;
}

.whose{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;

}